services:
  rtorrent:
    image: jesec/rtorrent:master
    container_name: rtorrent

    ports:
      - "50000:50000" # BitTorrent port
      - "8000:8000" # SCGI/XMLRPC port
    environment:
      - HOME=/config
    volumes:
      - ./docker/config:/config
      - ./docker/downloads:/downloads
    command: -n -o import=/config/rtorrent.rc
    restart: unless-stopped
    networks:
      - dokploy-network

  web:
    build: .
    container_name: rtorrent-web-ui
    ports:
      - "3001:3001"
    environment:
      - RTORRENT_HOST=rtorrent
      - RTORRENT_PORT=8000
      - PORT=3001
    depends_on:
      - rtorrent
    restart: unless-stopped
    networks:
      - dokploy-network
    labels:
      - traefik.enable=true
      - traefik.http.routers.rtorrent-web.rule=Host(`rtorrent.vibetorrent.com`)
      - traefik.http.routers.rtorrent-web.entrypoints=websecure
      - traefik.http.routers.rtorrent-web.tls.certresolver=letsencrypt
      - traefik.http.services.rtorrent-web.loadbalancer.server.port=3001

networks:
  dokploy-network:
    external: true
